#include <windows.h>
#include "versuse.hpp"

VERSUSE_ICON ICON gc_ico2.ico
/*
VERSUSE_ICO2 ICON dlgapp_s.ico
*/

VERSUSE_MAIN DIALOGEX 20, 40, 148, 44
STYLE DS_3DLOOK | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_NOPARENTNOTIFY
CAPTION "Versuse"
BEGIN
	EDITTEXT			 VERSUSE_EDIT_LEFTNAME,     2, 2,84,12, ES_CENTER|ES_AUTOHSCROLL|WS_GROUP
	EDITTEXT 			 VERSUSE_EDIT_LEFTSCORE,   92, 2,18,12, ES_CENTER|ES_AUTOHSCROLL	
	EDITTEXT			 VERSUSE_EDIT_RIGHTNAME,    2,16,84,12, ES_CENTER|ES_AUTOHSCROLL	
	EDITTEXT 			 VERSUSE_EDIT_RIGHTSCORE,  92,16,18,12, ES_CENTER|ES_AUTOHSCROLL
	PUSHBUTTON 	"Save",  VERSUSE_BUTTON_WRITE,      2,30,40,12, BS_DEFPUSHBUTTON
	EDITTEXT 			 VERSUSE_EDIT_TEXTWIDTH,   68,30,18,12, ES_CENTER|ES_AUTOHSCROLL
	
	CONTROL "", 	VERSUSE_OPTION_LEFT_L,  "Button", BS_AUTORADIOBUTTON|WS_GROUP, 116, 2,12,12
	CONTROL "", 	VERSUSE_OPTION_LEFT_C,  "Button", BS_AUTORADIOBUTTON,          127, 2,12,12
	CONTROL "", 	VERSUSE_OPTION_LEFT_R,  "Button", BS_AUTORADIOBUTTON,          138, 2,12,12
	CONTROL "", 	VERSUSE_OPTION_RIGHT_L, "Button", BS_AUTORADIOBUTTON|WS_GROUP, 116,16,12,12
	CONTROL "", 	VERSUSE_OPTION_RIGHT_C, "Button", BS_AUTORADIOBUTTON,          127,16,12,12
	CONTROL "", 	VERSUSE_OPTION_RIGHT_R, "Button", BS_AUTORADIOBUTTON,          138,16,12,12
	
	LTEXT VERSUSE_STRING_VERSION, 	VERSUSE_STATIC_GENERIC,  94,32,18,12
	LTEXT "L", 		VERSUSE_STATIC_GENERIC, 117,32,12,12
	LTEXT "C", 		VERSUSE_STATIC_GENERIC, 127,32,12,12
	LTEXT "R", 		VERSUSE_STATIC_GENERIC, 138,32,12,12
/*
    GROUPBOX        "Input field", IDC_STATIC, 3,4,128,73
    EDITTEXT                       IDC_EDIT,   7,14,121,43, ES_MULTILINE | ES_AUTOHSCROLL | ES_WANTRETURN
    PUSHBUTTON      "Clear input", IDC_CLEAR,  7,60,120,15

    GROUPBOX        "Check boxes", IDC_STATIC, 3,80,128,29
    CONTROL         "Left",        IDC_LEFT,  "Button",BS_AUTOCHECKBOX,9,91,58,11
    CONTROL         "Right",       IDC_RIGHT, "Button",BS_AUTOCHECKBOX,71,90,54,12

    GROUPBOX        "Radio group", IDC_STATIC, 133,4,59,73
    CONTROL         "Top",         IDC_TOP,   "Button",BS_AUTORADIOBUTTON,137,15,51,12
    CONTROL         "Middle",      IDC_MIDDLE,"Button",BS_AUTORADIOBUTTON,137,34,52,15
    CONTROL         "Bottom",      IDC_BOTTOM,"Button",BS_AUTORADIOBUTTON,137,55,52,14

    PUSHBUTTON      "Button1",     IDC_BUTTON1,195,8,60,15
    PUSHBUTTON      "Hide Button3",IDC_BUTTON2,195,27,60,15
    PUSHBUTTON      "Button3",     IDC_BUTTON3,195,63,60,15
    LTEXT           "Control bench; click on a control and watch the action be announced in the status field below.",IDC_STATIC,133,84,120,24

    EDITTEXT                       IDC_STATUS, 2,115,256,14,ES_AUTOHSCROLL | ES_READONLY
*/
END

1 VERSIONINFO
FILEVERSION     VERSUSE_RES_VERSION
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Converts inputs into output"
      VALUE "FileVersion", VERSUSE_RES_VERSION2
      VALUE "InternalName", "versuse"
      VALUE "LegalCopyright", "Ehwuts Matsu"
      VALUE "OriginalFilename", "versuse.exe"
      VALUE "ProductName", "Versuse"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
