#include "versuse-main.hpp"

1 VERSIONINFO
FILEVERSION     VERSUSE_STRING_VERSION3
PRODUCTVERSION  VERSUSE_STRING_PVERSION2
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Converts inputs into output"
      VALUE "FileVersion", VERSUSE_STRING_VERSION2
      VALUE "InternalName", "versuse"
      VALUE "LegalCopyright", "Ehwuts Matsu"
      VALUE "OriginalFilename", "versuse.exe"
      VALUE "ProductName", "Versuse"
      VALUE "ProductVersion", VERSUSE_STRING_PVERSION
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

VERSUSE_ICON ICON "gc_ico2.ico"