#include <windows.h>
#include "versuse.hpp"

VERSUSE_ICON ICON gc_ico2.ico
/*
VERSUSE_ICO2 ICON dlgapp_s.ico
*/
//44
VERSUSE_MAIN DIALOGEX 20, 40, 148, 44
STYLE DS_3DLOOK | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_NOPARENTNOTIFY
CAPTION "Versuse"
BEGIN
	COMBOBOX             VERSUSE_CBOX_LEFTNAME,    10, 2,76,120, CBS_DROPDOWNLIST|WS_VSCROLL
	COMBOBOX             VERSUSE_CBOX_RIGHTNAME,   10,16,76,120, CBS_DROPDOWNLIST|WS_VSCROLL	
	CONTROL         "", VERSUSE_OPTION_SHOW1,     "Button", BS_AUTOCHECKBOX, 2, 2, 8,12
	CONTROL         "", VERSUSE_OPTION_SHOW2,     "Button", BS_AUTOCHECKBOX, 2,16, 8,12
	//+14
	EDITTEXT			 VERSUSE_EDIT_LEFTNAME,    10, 2,76,12, ES_AUTOHSCROLL|WS_GROUP
	EDITTEXT 			 VERSUSE_EDIT_LEFTSCORE,   92, 2,18,12, ES_CENTER|ES_AUTOHSCROLL	
	EDITTEXT			 VERSUSE_EDIT_RIGHTNAME,   10,16,76,12, ES_AUTOHSCROLL	
	EDITTEXT 			 VERSUSE_EDIT_RIGHTSCORE,  92,16,18,12, ES_CENTER|ES_AUTOHSCROLL
	PUSHBUTTON 	"Save",  VERSUSE_BUTTON_WRITE,      2,30,30,12, BS_DEFPUSHBUTTON
	//EDITTEXT 			 VERSUSE_EDIT_TEXTWIDTH,   68,30,18,12, ES_CENTER|ES_AUTOHSCROLL	
	
	CONTROL "", 	VERSUSE_OPTION_LEFT_L,  "Button", BS_AUTORADIOBUTTON|WS_GROUP, 116, 2,12,12
	CONTROL "", 	VERSUSE_OPTION_LEFT_C,  "Button", BS_AUTORADIOBUTTON,          127, 2,12,12
	CONTROL "", 	VERSUSE_OPTION_LEFT_R,  "Button", BS_AUTORADIOBUTTON,          138, 2,12,12
	CONTROL "", 	VERSUSE_OPTION_RIGHT_L, "Button", BS_AUTORADIOBUTTON|WS_GROUP, 116,16,12,12
	CONTROL "", 	VERSUSE_OPTION_RIGHT_C, "Button", BS_AUTORADIOBUTTON,          127,16,12,12
	CONTROL "", 	VERSUSE_OPTION_RIGHT_R, "Button", BS_AUTORADIOBUTTON,          138,16,12,12
	
	COMBOBOX             VERSUSE_CBOX_BRACKET,     36,30,90,120, CBS_DROPDOWNLIST|WS_VSCROLL
	LTEXT VERSUSE_STRING_VERSION, 	VERSUSE_STATIC_GENERIC,  130,30,18,12
	/*
	LTEXT VERSUSE_STRING_VERSION, 	VERSUSE_STATIC_GENERIC,  94,32,18,12
	LTEXT "L", 		VERSUSE_STATIC_GENERIC, 117,32,12,12
	LTEXT "C", 		VERSUSE_STATIC_GENERIC, 127,32,12,12
	LTEXT "R", 		VERSUSE_STATIC_GENERIC, 138,32,12,12
	*/
END

1 VERSIONINFO
FILEVERSION     VERSUSE_RES_VERSION
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Converts inputs into output"
      VALUE "FileVersion", VERSUSE_RES_VERSION2
      VALUE "InternalName", "versuse"
      VALUE "LegalCopyright", "Ehwuts Matsu"
      VALUE "OriginalFilename", "versuse.exe"
      VALUE "ProductName", "Versuse"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
